/* ---- BASE ---- */
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
 body {
 	font-family: fontRegular;
 	position: relative;
  	margin: 0;
  	min-height: 100%;
 }

/* ---- FONTS ---- */
@font-face {
    font-family: fontThin;
    src: url(../fonts/roboto/Roboto-Thin.woff);
}
@font-face {
    font-family: fontLight;
    src: url(../fonts/roboto/Roboto-Light.woff);
}
@font-face {
    font-family: fontRegular;
    src: url(../fonts/roboto/Roboto-Regular.woff);
}
@font-face {
    font-family: fontMedium;
    src: url(../fonts/roboto/Roboto-Medium.woff);
}
@font-face {
    font-family: fontBold;
    src: url(../fonts/roboto/Roboto-Bold.woff);
}

/* ---- NAVBAR ---- */
nav {
	font-family: fontLight;
	background-color: #02AB68;
	box-shadow: none;
}
.nav-wrapper {
	max-width: 1200px;
	margin: auto;
	display: block;
}
.nav-wrapper .fa-bars {
	font-size: 22px;
}
.nav-wrapper .fa-bars:hover {
	color: #D6D6D6;
}

/* ---- SUB NAVBAR ---- */
.sub-nav {
	font-family: fontThin;
	background-color: #2F333E;
	color: #FFFFFF;
	display: block;
}
@media only screen and (max-width: 600px) {
    .sub-nav {
        display: none;
    }
}
.sub-nav-wrapper {
	max-width: 1200px;
	margin: auto;
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	overflow: auto;
}
.sub-nav-wrapper .col {
	padding: 0px;
}
@media only screen and (max-width: 1200px) {
    .sub-nav-wrapper .col {
        padding-left: 8px;
        padding-right: 8px;
    }
}
.sub-nav .row {
    margin-bottom: 0;
}
.sub-nav-left {
	text-align: left;
	height: 28px;
	line-height: 28px;
}
.sub-nav-right {
	text-align: right;
}
.sub-nav-right .search-left {
	display: inline-block;
}
.sub-nav-right input {
	margin: 0px;
	height: 20px;
	border: 2px solid #02AB68;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}
/* label underline focus color */
.sub-nav-right input[type=text]:focus {
     border: 2px solid #02AB68;
     transition: none;
     box-shadow: none;
}
.sub-nav-right input:focus::-webkit-input-placeholder { color:transparent; }
.sub-nav-right input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
.sub-nav-right input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
.sub-nav-right input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */
.sub-nav-right .search-right {
	display: inline-block;
}
.fa-search {
	background-color: #02AB68;
	height: 28px;
	line-height: 28px;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
}
.sub-nav-right .search-right .fa-search:hover {
	background-color: #34BC86;
}

/* ---- WRAP AROUND CONTENT ---- */
#site-container {
	min-height: 100%;
	position: relative;
}
#main-wrapper {
	background-color: #FFFFFF;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 15px;
	padding-bottom:60px;
}

/* ---- WELCOME PAGE ---- */
.post-block {
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.post-block:last-child {
    border: 0;
    margin-bottom: 0px;
}
.post-block h4 {
	font-family: fontMedium;
}
.post-block .btn {
	background-color: #02AB68;
}

/* ---- FOOTER ---- */
.footer {
	font-family: fontRegular;
	background-color: #F6F6F6;
	color: #2F333E;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
	padding: 20px;
}
.footer-wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.footer-left {
	display: inline-block;
	vertical-align: middle;
	float: left;
}
@media only screen and (max-width: 490px) {
    .footer-left {
        display: block;
        float: none;
    }
}
.footer-right {
	display: inline-block;
	vertical-align: middle;
	float: right;
}
@media only screen and (max-width: 490px) {
    .footer-right {
        display: block;
        float: none;
        margin-top: 15px;
    }
}
.footer-right ul {
	font-family: fontMedium;
	margin-top: 0px;
	margin-bottom: 0px;
}
.footer-right li {
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}
@media only screen and (max-width: 490px) {
    .footer-right li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer-right li:first-child {
    	margin-left: 0px;
	}
}
.footer-right li:last-child {
    margin-right: 0px;
}
.footer-right a {
    color: #2F333E;
}
.footer-right a:hover {
    color: #02AB68;
    transition: all 0.2s;
}




